body {
  font-family: Arial, sans-serif;
  background: url("bus.png") no-repeat center center/cover;
  margin: 0;
  padding: 0;
}

.container {
  background: rgba(255,255,255,0.9);
  padding: 20px;
  margin: 40px auto;
  width: 420px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

h1,h2, h3 {
  text-align: center;
  color: rgb(235, 10, 10);
}

input, button {
  width: 95%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  background: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.hidden {
  display: none;
}

.admin-details {
  border: 1px solid #aaa;
  padding: 10px;
  margin-top: 10px;
  background: #f9f9f9;
  border-radius: 5px;
}
